<div class="container">
  <div *ngIf="questions.length">
    <div class="question">{{questions[indexQuestion].question}}</div>
    <hr>
    <mat-radio-group class="radio-group">
      <mat-radio-button
        class="radio-button"
        *ngFor="let answer of questions[indexQuestion].answers"
        [checked]="answer.checked"
        (change)="onSelectItem(answer, questions[indexQuestion].answers)"
        [value]="answer.answer">
        {{answer.answer}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="buttons">
      <button
        mat-raised-button color="primary"
        [disabled]="indexQuestion === 0 || completed"
        (click)="onPrevious()">Previous
      </button>
      <button class="btnNext"
              mat-raised-button color="primary"
              *ngIf="indexQuestion !== questions.length - 1"
              (click)="onNext()">Next
      </button>
      <button *ngIf="indexQuestion === questions.length - 1"
              mat-raised-button color="accent"
              (click)="showResult()">Done
      </button>
    </div>
    <hr>
    <div class="result" *ngIf="completed">Your result: <b>{{total}}</b> / 100</div>
  </div>
</div>
