body{
  position: relative;
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.radio-group {
  display : inline-flex;
  flex-direction : column;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}

.radio-button {
  margin : 5px ;
}

.example-selected-value {
  margin : 15px  0 ;
}
.question{
  font-weight: bold;
}
.container{
  padding: 5px;
  border: 1px solid black;
  width: 500px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons{
  margin-top: 10px;
}
.result{
  text-align: right;
}

